#activites-titre {
  margin: 60px 0px 25px;
}
.container-activite {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}
.container-activite .activite {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 20%;
  min-width: 302px;
}
.container-activite .activite-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 15px;
}
.container-activite h3 {
  margin-left: 15px;
}
.container-activite p {
  font-size: 14px;
}

.container-activite .activite-fullheight {
  height: 400px;
}
.container-activite .activite-fullheight img {
  height: 86%;
}

.container-activite .activite-60height {
  height: 220px;
}
.container-activite .activite-60height img {
  height: 74%;
}

.container-activite .activite-40height {
  height: 140px;
}
.container-activite .activite-40height img {
  height: 60%;
}

.container-activite .activite-50height {
  height: 180px;
}
.container-activite .activite-50height img {
  height: 68%;
}

.container-activite a,
.container-activite a:visited,
.container-activite a:focus,
.container-activite a:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 992px) {
  .container-activite {
    justify-content: center;
  }
  #activites-titre {
    text-align: center;
    margin-left: -430px;
    min-width: max-content;
  }
}
@media (max-width: 768px) {
  .container-activite {
    gap: 20px;
    margin-bottom: 50px;
  }
  .container-activite .activite {
    width: 90%;
    gap: 20px;
  }
  .container-activite .activite-box {
    height: 175px;
  }
  .container-activite .activite-box img {
    height: 67%;
  }
  #activites-titre {
    text-align: left;
    margin-left: 6.5%;
    margin-top: 30px;
  }
}
