footer {
  background-color: #f2f2f2;
}
.bloc-footer {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 400px 0px 80px;
}
footer ul {
  list-style: none;
  font-size: 16px;
  padding: 0px;
  padding-bottom: 40px;
}
footer li {
  padding-top: 10px;
  margin-right: 40px;
}
footer a,
footer a:visited {
  text-decoration: none;
  color: black;
}
footer a:hover,
footer a:focus {
  border: none;
  color: #0065fc;
}

@media (max-width: 768px) {
  .bloc-footer {
    flex-direction: column;
    padding: 50px 0px 0px;
  }
  footer {
    padding-left: 6.5%;
  }
}
