* {
  margin: 0px;
  font-family: "raleway", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.font-light {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  padding: 30px 0px 10px;
  width: 96.9px;
  height: 45.9px;
  display: flex;
}
header .container-banner {
  padding: 20px 70px 0px 0px;
  display: flex;
  list-style: none;
  font-size: 17px;
}

.container-banner :first-child a,
.container-banner :first-child a:visited {
  padding: 40px 25px 15px;
}
.container-banner :last-child a,
.container-banner :last-child a:visited {
  padding: 40px 50px 15px;
}
header .container-banner a,
header .container-banner a:visited {
  color: black;
  border-top: 3px solid white;
  text-decoration: none;
}
header .container-banner a:hover,
header .container-banner a:focus {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

@media (max-width: 992px) {
  .logo {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  header {
    margin: 20px 0px 90px;
    justify-content: center;
  }
  .logo,
  .container-banner {
    margin-top: 0px;
  }
  header .container-banner :first-child a,
  header .container-banner :last-child a,
  header .container-banner :first-child a:visited,
  header .container-banner :last-child a:visited {
    display: block;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 50%;
    border-top: none;
    border-bottom: 3px solid lightgray;
    padding: 50px 0px 15px;
  }
  header .container-banner :first-child a:hover,
  header .container-banner :first-child a:focus,
  header .container-banner :last-child a:hover,
  header .container-banner :last-child a:focus {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
  header .container-banner :first-child a,
  header .container-banner :first-child a:visited {
    left: 0px;
  }
  header .container-banner :last-child a,
  header .container-banner :last-child a:visited {
    right: 0px;
  }
}
