.container-all-herbegements {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 40px;
}
.container-all-herbegements a,
.container-all-herbegements a:visited,
.container-all-herbegements a:focus,
.container-all-herbegements a:hover {
  text-decoration: none;
  color: black;
}
.shadow-scale {
  box-shadow: 0px 1px 10px 1px lightgray;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}
.shadow-scale:hover {
  box-shadow: 0px 1px 10px 5px lightgray;
  transform: scale(1.01);
  transition: 0.2s;
}

.categorie {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.categorie-populaires {
  flex-direction: column;
  align-items: center;
  width: 25%;
  max-width: fit-content;
  min-width: 380px;
  order: 2;
  padding: 20px 0px;
}
.populaires-titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 320px;
}
.bloc {
  display: flex;
  flex-wrap: wrap;
}
.bloc-populaires {
  min-width: 320px;
  justify-content: center;
  gap: 40px;
  margin: 0px 30px;
}
.bloc-populaires .populaires {
  width: 320px;
  height: 135px;
  display: flex;
  padding: 5px;
}
.bloc-populaires .populaires img {
  width: 35%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}
.bloc-populaires .description-populaires {
  margin: 15px 0px 0px 15px;
  width: 150px;
}
.bloc-populaires p {
  font-size: 14px;
  margin-top: 5px;
}
.bloc-populaires .stars {
  margin-top: 40px;
}
.fa-star {
  display: flex;
  float: left;
  gap: 1px;
}
.blue-stars {
  color: #0065fc;
}
.grey-stars {
  color: lightgray;
}

.categorie-hebergement {
  height: fit-content;
  width: 55%;
  max-width: fit-content;
  min-width: 910px;
  order: 1;
  display: block;
  padding: 20px 0px 40px;
}
#hebergement-titre {
  margin-left: 40px;
  width: 280px;
  order: 1;
}
.bloc-hebergement {
  order: 2;
  margin: 0px 30px 40px;
  justify-content: center;
  gap: 30px;
}
.bloc-hebergement .hebergement {
  width: 250px;
  height: 195px;
  padding: 5px;
}
.bloc-hebergement .hebergement img {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.bloc-hebergement .hebergement .description-hebergement {
  margin: 5px 0px 0px 15px;
}
.bloc-hebergement p {
  font-size: 14px;
  margin-top: 5px;
}
.bloc-hebergement .stars {
  margin-top: 15px;
}

.afficher-plus {
  font-size: 18px;
  margin: 40px 0px 0px 40px;
  height: 10px;
  cursor: pointer;
  order: 3;
}

@media (max-width: 992px) {
  .container-all-herbegements {
    margin: 0px;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
  }
  .categorie-hebergement {
    background-color: white;
    border-radius: 0px;
    padding-bottom: 20px;
    min-width: 0px;
  }
  .categorie-populaires {
    order: 0;
    border-radius: 0px;
    width: fit-content;
  }
  .bloc-hebergement .hebergement,
  .bloc-populaires .populaires,
  .populaires-titre {
    width: 55vw;
  }
  #hebergement-titre,
  .afficher-plus {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .categorie {
    width: fit-content;
  }
  .categorie-populaires {
    padding-bottom: 40px;
  }
  .categorie-hebergement {
    padding-top: 10px;
  }
  .bloc {
    gap: 10px;
  }
  .populaires-titre,
  .bloc-hebergement .hebergement,
  .bloc-populaires .populaires {
    width: 85vw;
  }
  #hebergement-titre,
  .afficher-plus {
    margin-left: 6.5%;
  }
}
